/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 重置element样式*/
.el-tree-node__content {
  height: auto !important;
}
.el-form-item {
  margin-bottom: 0 !important;
}

.el-cascader-menu__wrap.el-scrollbar__wrap {
  height: 400px !important;
}